<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        List of Rugs
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">

                <thead>
                    <tr>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="searchTerm">Search</label>
                            <input type="text" class="form-control" ng-model="vm.searchTerm" id="searchTerm" />
                            <span class="glyphicon glyphicon-search form-control-feedback" ng-click="vm.search(vm.searchTerm)"></span>
                        </div>
                    </tr>
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.toggleImage()">
                                {{vm.showImage ? "Hide" : "Show"}} Image
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary glyphicon sort-icon"
                                    ng-click="vm.sort('ProductName')">
                                Product
                            </button>
                        </td>

                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.sort('ProductCode')">
                                Code
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.sort('ReleaseDate')">

                                Available
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.sort('Price')">
                                Price
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products">
                        <td>
                            <img ng-if="vm.showImage"
                                 ng-src="{{product.imageUrl}}"
                                 style="width:50px;margin:2px"
                                 title="{{product.productName}}">
                        </td>
                        <td>
                            <a ui-sref="productDetail({productId: product.productId})">
                                {{ product.productName}}
                            </a>
                        </td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency }}</td>
                        <td>
                            <a class="btn btn-primary"
                               ui-sref="productEdit.info({productId: product.productId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>